<div class="container" style="border: 5px solid">
  <div class="row" style="margin-left: 10px;">
    <div class="col-sm-6 mx-auto">
      <div class="row">
        <div class="col-6">
          <h1 style="color: lightslategray;"> Found this product: </h1>
        </div>
      </div>
      <div class="row" style="border-bottom: 1px solid;">
        <p style="font-size: 20px;" > product id: {{productDetailstoDel.product_id}} </p>
        <p style="font-size: 20px;"> name: {{productDetailstoDel.name}}</p>
        <p style="font-size: 20px;"> grade: {{productDetailstoDel.grade}}</p>
        <p style="font-size: 20px;"> universe: {{productDetailstoDel.universe}}</p>
        <p style="font-size: 20px;"> description: {{productDetailstoDel.description}}</p>
        <button style="margin-left: 550px; margin-top: 15px" id="delete_product_button"> DELETE </button>
      </div>
      <div id="del_product_id" style="opacity: 0"> {{productDetailstoDel.product_id}} </div>
    </div>
  </div>

</div>