<div class='main-content main-content-checkout'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='breadcrumb-trail breadcrumbs'>
          <ul class='trail-items breadcrumb'>
            <li class='trail-item trail-begin'>
              <a href='index-2.html'>Home</a>
            </li>
            <li class='trail-item trail-end active'>
              Checkout
            </li>
          </ul>
        </div>
      </div>
    </div>
    <h3 class='custom_blog_title'>
      Checkout
    </h3>
    <div class='checkout-wrapp'>
      <div class='shipping-address-form-wrapp'>
        <div class='shipping-address-form checkout-form'>
          <div class='row-col-1 row-col'>
            <div class='shipping-address'>
              <h3 class='title-form'>
                Shipping Address
              </h3>
              <p class='form-row form-row-first'>
                <label class='text'>user name</label>
                <input
                  title='first'
                  type='text'
                  class='input-text'
                  value='{{user.name}}'
                  readonly
                />
              </p>
              <p class='form-row form-row-last'>
                <label class='text'>Address</label>
                <input
                  title='address'
                  type='text'
                  class='input-text'
                  value='{{user.address}}'
                  readonly
                />
              </p>
              <p class='form-row form-row-last'>
                <label class='text'>Phone</label>
                <input
                  title='address'
                  type='text'
                  class='input-text'
                  value='{{user.phone}}'
                  readonly
                />
              </p>
              <p class='form-row form-row-last'>
                <label class='text'>Bank Account</label>
                <input
                  title='address'
                  type='text'
                  class='input-text'
                  value='{{user.bank_account}}'
                  readonly
                />
              </p>
              <a
                href='/user/{{user.name}}/profile'
                class='button button-payment'
              >Edit Shipping Address</a>
            </div>
          </div>
          <div class='row-col-2 row-col'>
            <div class='your-order'>
              <h3 class='title-form'>
                Your Order
              </h3>
              <ul class='list-product-order'>
                {{#each itemsInCart.rows}}
                  <li class='product-item-order'>
                    <div class='product-thumb'>
                      <a href='#'>
                        <img src='{{'product.link_picture'}}' alt='img' />
                      </a>
                    </div>
                    <div class='product-order-inner'>
                      <h5 class='product-name'>
                        <a href='#'>{{'product.name'}}</a>
                      </h5>
                      <span
                        class='attributes-select attributes-color'
                      >{{'product.grade'}},</span>
                      <span
                        class='attributes-select attributes-size'
                      >{{'product.universe'}}</span>
                      <div class='price'>
                        ${{total_cost}}
                        <span class='count'>x{{quantity}}</span>
                      </div>
                    </div>
                  </li>
                {{/each}}
              </ul>
              <div class='order-total'>
                <span class='title'>
                  Total Price:
                </span>
                <span class='total-price'>
                  ${{cart.total_cost}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <a class='button button-payment' id='order-conform-btn'>
          <button>
            Confirm Order
          </button>
        </a>
        <div id='resultDiv'>

        </div>
      </div>
    </div>
  </div>
</div>