<!-- END OF HEADER /-->
<div class='main-content main-content-details single no-sidebar'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='breadcrumb-trail breadcrumbs'>
          <ul class='trail-items breadcrumb'>
            <li class='trail-item trail-begin'>
              <a href='/'>Home</a>
            </li>
            <li class='trail-item'>
              <a href='/product'>Products</a>
            </li>
            <li class='trail-item trail-end active'>
              {{productDetails.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='row'>
      <div
        class='content-area content-details full-width col-lg-9 col-md-8 col-sm-12 col-xs-12'
      >
        <div class='site-main'>
          <div class='details-product'>
            <div class='details-thumd'>
              <div
                class='image-preview-container image-thick-box image_preview_container'
              >
                <img
                  id='img_zoom'
                  data-zoom-image='{{productDetails.link_picture}}'
                  src='{{productDetails.link_picture}}'
                  alt='img'
                />
                <a href='#' class='btn-zoom open_qv'><i
                    class='fa fa-search'
                    aria-hidden='true'
                  ></i></a>
              </div>
              <div class='product-preview image-small product_preview'>
                <div
                  id='thumbnails'
                  class='thumbnails_carousel owl-carousel'
                  data-nav='true'
                  data-autoplay='false'
                  data-dots='false'
                  data-loop='false'
                  data-margin='10'
                  data-responsive='{"0":{"items":3},"480":{"items":3},"600":{"items":3},"1000":{"items":3}}'
                >
                  <a
                    href='#'
                    data-image='{{productDetails.link_picture}}'
                    data-zoom-image='{{productDetails.link_picture}}'
                    class='active'
                  >
                    <img
                      src='{{productDetails.link_picture}}'
                      data-large-image='{{productDetails.link_picture}}'
                      alt='img-1'
                    />
                  </a>
                  <a
                    href='#'
                    data-image='{{productDetails.link_picture}}'
                    data-zoom-image='{{productDetails.link_picture}}'
                  >
                    <img
                      src='{{productDetails.link_picture}}'
                      data-large-image='{{productDetails.link_picture}}'
                      alt='img'
                    />
                  </a>
                  <a
                    href='#'
                    data-image='{{productDetails.link_picture}}'
                    data-zoom-image='{{productDetails.link_picture}}'
                  >
                    <img
                      src='{{productDetails.link_picture}}'
                      data-large-image='{{productDetails.link_picture}}'
                      alt='img'
                    />
                  </a>
                  <a
                    href='#'
                    data-image='{{productDetails.link_picture}}'
                    data-zoom-image='{{productDetails.link_picture}}'
                  >
                    <img
                      src='{{productDetails.link_picture}}'
                      data-large-image='{{productDetails.link_picture}}'
                      alt='img'
                    />
                  </a>
                </div>
              </div>
            </div>
            <div class='details-infor'>
              <h1 id='product_head_line' class='product-title'>
                {{productDetails.name}}
              </h1>
              <div class='stars-rating'>
                <div class='star-rating'>
                  <span class='star-5'></span>
                </div>
                <div class='count-star'>
                  (7)
                </div>
              </div>
              <div class='availability'>
                Universe:
                <a
                  href='https://gundam.fandom.com/wiki/Gundam_Wiki:Timelines'
                  target='blank'
                >{{productDetails.universe}}</a>
              </div>
              <div class='price'>
                <span>$ {{productDetails.price}}</span>
              </div>
              <div class='product-details-description'>
                <ul>
                  <li id='product_details_universe'>Grade:
                    {{productDetails.grade}}</li>
                  <li>BANDAI</li>
                  <li>Art.No. {{productDetails.product_id}}</li>
                </ul>
              </div>
              <div class='variations'>
                <div class='attribute attribute_color'>
                  <div class='color-text text-attribute'>
                    Color:
                  </div>
                  <div class='list-color list-item'>
                    <a href='#' class='color1'></a>
                    <a href='#' class='color2'></a>
                    <a href='#' class='color3 active'></a>
                    <a href='#' class='color4'></a>
                  </div>
                </div>
                <div class='attribute attribute_size'>
                  <div class='size-text text-attribute'>
                    Size:
                  </div>
                  <div class='list-size list-item'>
                    <a href='#' class=''>xs</a>
                    <a href='#' class=''>s</a>
                    <a href='#' class='active'>m</a>
                    <a href='#' class=''>l</a>
                    <a href='#' class=''>xl</a>
                    <a href='#' class=''>xxl</a>
                  </div>
                </div>
              </div>
              <div class='group-button'>
                <div class='yith-wcwl-add-to-wishlist'>
                  <div class='yith-wcwl-add-button'>
                    <a href='#'>Add to Wishlist</a>
                  </div>
                </div>
                <div class='size-chart-wrapp'>
                  <div class='btn-size-chart'>
                    <a
                      id='size_chart'
                      href='/public/assets/beam_saber_images/gundam-grade.png'
                      class='fancybox'
                    >View Size Chart</a>
                  </div>
                </div>
                <div class='quantity-add-to-cart'>
                  <div class='quantity'>
                    <div class='control'>
                      <a
                        class='btn-number qtyminus quantity-minus'
                        href='#'
                      >-</a>
                      <input
                        type='text'
                        data-step='1'
                        data-min='0'
                        value='1'
                        title='Qty'
                        class='input-qty qty'
                        size='4'
                      />
                      <a href='#' class='btn-number qtyplus quantity-plus'>+</a>
                    </div>
                  </div>
                  <button class='single_add_to_cart_button button'>Add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class='tab-details-product'>
            <ul class='tab-link'>
              <li class='active'>
                <a
                  data-toggle='tab'
                  aria-expanded='true'
                  href='#product-descriptions'
                >Descriptions </a>
              </li>
              <li class=''>
                <a
                  data-toggle='tab'
                  aria-expanded='true'
                  href='#information'
                >Information </a>
              </li>
              <li class=''>
                <a
                  data-toggle='tab'
                  aria-expanded='true'
                  href='#reviews'
                >Reviews</a>
              </li>
            </ul>
            <div class='tab-container' style='white-space: pre-wrap'>
              <div id='product-descriptions' class='tab-panel active'>
                <p id='product-describe'> {{productDetails.description}}</p>
              </div>
              <div id='information' class='tab-panel'>
                <table class='table table-bordered'>
                  <tr>
                    <td>Size</td>
                    <td> XS / S / M / L</td>
                  </tr>
                  <tr>
                    <td>Color</td>
                    <td>White/ Black/ Teal/ Brown</td>
                  </tr>
                  <tr>
                    <td>Properties</td>
                    <td>Colorful Dress</td>
                  </tr>
                </table>
              </div>
              <div id='reviews' class='tab-panel'>
                <div class='reviews-tab'>
                  <div class='comments'>
                    <h2 class='reviews-title'>
                      {{listComments.count}}
                      review for
                      <span>{{productDetails.name}}</span>
                    </h2>
                    <ol class='commentlist'>
                      {{#each listComments.rows}}
                        <li class='conment'>
                          <div class='conment-container'>
                            <div class='comment-text'>
                              <div
                                class='Stars'
                                style='--rating: {{rate}};'
                                aria-label='Rating of this product is {{rate}} out of 5.'
                              ></div>
                              <p class='meta'>
                                <strong class='author'>{{'user.name'}}</strong>
                              </p>
                              <div class='description'>
                                <p>{{comment}}</p>
                              </div>
                            </div>
                          </div>
                        </li>
                      {{/each}}
                    </ol>
                  </div>
                  <div class='review_form_wrapper'>
                    <div class='review_form'>
                      <div class='comment-respond'>
                        {{#if user}}
                          <span class='comment-reply-title'>Add a review </span>
                          <form class='comment-form-review' method='post'>
                            <fieldset class='rating'>
                              <legend>rating</legend>
                              <input
                                id='demo-1'
                                type='radio'
                                name='star'
                                value='1'
                              />
                              <label for='demo-1'>1 star</label>
                              <input
                                id='demo-2'
                                type='radio'
                                name='star'
                                value='2'
                              />
                              <label for='demo-2'>2 stars</label>
                              <input
                                id='demo-3'
                                type='radio'
                                name='star'
                                value='3'
                              />
                              <label for='demo-3'>3 stars</label>
                              <input
                                id='demo-4'
                                type='radio'
                                name='star'
                                value='4'
                              />
                              <label for='demo-4'>4 stars</label>
                              <input
                                id='demo-5'
                                type='radio'
                                name='star'
                                value='5'
                                check
                              />
                              <label for='demo-5'>5 stars</label>

                              <div class='stars'>
                                <label
                                  for='demo-1'
                                  aria-label='1 star'
                                  title='1 star'
                                ></label>
                                <label
                                  for='demo-2'
                                  aria-label='2 stars'
                                  title='2 stars'
                                ></label>
                                <label
                                  for='demo-3'
                                  aria-label='3 stars'
                                  title='3 stars'
                                ></label>
                                <label
                                  for='demo-4'
                                  aria-label='4 stars'
                                  title='4 stars'
                                ></label>
                                <label
                                  for='demo-5'
                                  aria-label='5 stars'
                                  title='5 stars'
                                ></label>
                              </div>
                            </fieldset>
                            <p class='comment-form-comment'>
                              <label>
                                Your review
                                <span class='required'>*</span>
                              </label>
                              <textarea
                                title='review'
                                id='comment'
                                name='comment'
                                cols='45'
                                rows='8'
                                placeholder='be short and informative'
                              ></textarea>
                            </p>
                            <p class='form-submit'>
                              <input
                                name='submit'
                                type='submit'
                                id='submit'
                                class='submit'
                                value='Submit'
                              />
                            </p>
                          </form>
                        {{else}}
                          <div class='row'>
                            <h5>
                              please
                              <a href='/login' style='color:red'>login</a>
                              to comment and rate this product
                            </h5>
                          </div>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style='clear: left;'></div>
          <div class='related products product-grid'>
            <h2 class='product-grid-title'>You may also like</h2>
            <div
              class='owl-products owl-slick equal-container nav-center'
              data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":true, "dots":false, "infinite":true, "speed":800, "rows":1}'
              data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":2}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"480","settings":{"slidesToShow":1}}]'
            >
              {{#each relateList}}
                <div class='product-item style-1'>
                  <div class='product-inner equal-element'>
                    <div class='product-top'>
                      <div class='flash'>
                        <span class='onnew'>
                          <span class='text'>
                            new
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class='product-thumb'>
                      <div class='thumb-inner'>
                        <a href='/product/{{name}}?id={{product_id}}'>
                          <img
                            src='{{link_picture}}'
                            alt='img'
                            class='product_picture'
                          />
                        </a>
                        <div class='thumb-group'>
                          <div class='yith-wcwl-add-to-wishlist'>
                            <div class='yith-wcwl-add-button'>
                              <a href='#'>Add to Wishlist</a>
                            </div>
                          </div>
                          <a href='#' class='button quick-wiew-button'>Quick
                            View</a>
                          <div class='loop-form-add-to-cart'>
                            <button class='single_add_to_cart_button button'>Add
                              to cart
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class='product-info'>
                      <h5 class='product-name product_title'>
                        <a
                          href='/product/{{name}}?id={{product_id}}'
                        >{{name}}</a>
                      </h5>
                      <div class='group-info'>
                        <div class='stars-rating'>
                          <div class='star-rating'>
                            <span class='star-3'></span>
                          </div>
                          <div class='count-star'>
                            (3)
                          </div>
                        </div>
                        <div class='price'>
                          <del>
                            $65
                          </del>
                          <ins>
                            {{price}}
                          </ins>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>